<h2 class="text-capitalize">Today's article</h2>
<hr>
<div *ngFor="let article of articles">
  <a href="{{article.url}}" target="_blank">{{article.title}}</a>: <app-like></app-like>
</div>


<div>
  <h2>Article Information</h2>
  <table>
    <tr>
      <td>Title:</td>
      <td><textarea [(ngModel)]="article.title" cols="70"></textarea></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td>
        <textarea [(ngModel)]="article.url" cols="70"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button style="float: right" (click)="addNewArticle()">Add</button></td>
    </tr>
  </table>
</div>

